# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build / Dist (if any compiled output)
dist/
build/
